#board { width:400px; height:400px; margin:auto; }
#board div { display:inline-block; width:50px; height:50px; margin:0; padding:0; vertical-align:top; font-size:34px; text-align:center; }
.cell-default { background: transparent; }
.cell-dark { background: #dd0000; }
.cell-light { background: #ffffdd; }
